body {
    background-color: lightCyan;
    font-family: 'Inconsolata', monospace; 
}

.colorOption {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.palette {
    line-height: 0;
    width: 120px;
}
