body {
    background-color: lightCyan;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

#app {
    display: grid;
    grid-template-columns: 120px 75px 486px 480px;
    grid-template-rows: 50px 430px 150px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

button, #open {
    background-color: deepPink;
    border: 1px outset white;
    border-radius: 15px;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    padding: 15px;
}

button:hover, #open:hover {
    background-color: #ff0483;
}

button:enabled:active, #open:active {
    border-style: inset;
}

button:disabled {
    background-color: grey;
}

#fileProcessor {
    grid-column: 3 / 4;
    grid-row: 3;
    text-align: left;
}

label {
    display: inline-block;
}

#pageControls {
    background-color: peachPuff;
    display: block;
    grid-row: 3;
    grid-column: 4;
    text-align: center;
}

.pixelMatrix {
    background-color: white;
    width: 100%;
}

.pixelMatrix.drawing {
    gap: 4px;
    height: 486px;
}

.allColors {
    grid-row: 2;
    display: inline-grid;
    width: 100%;
}

.paletteDisplay {
    display: flex;
    grid-row: 1 / 3;
    grid-column: 2;
}

.active {
    border: 4px solid red;
}

#overview {
    grid-gap: 2px;
    grid-column: 4;
    grid-row: 1 / 3;
}

#overview .pixelMatrix {
    vertical-align: top;
    height: 100%;
}

#overview .active {
    border-width: 2px;
    margin: -2px -2px;
}


#colorIndicator {
    width: 100%;
    height: 100%;
}

/* Make default "browse" button invisible */
[type="file"] {
    opacity: 0;
    position: absolute;
    width: 0.1px;
    height: 0.1px;
}
