body {
    background-color: lightCyan;
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
}

#app {
    display: grid;
    grid-template-columns: 120px 75px 486px 480px;
    grid-template-rows: 50px 430px 200px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

#controls {
    background-color: peachPuff;
    display: block;
    grid-row: 3;
    grid-column: 4;
    text-align: center;
}

#dataOutput {
    background-color: lightPink;
    grid-column: 1 / 4;
    grid-row: 3;
    overflow: scroll;
}

#fileProcessor {
    display: block;
    margin-top: 25px;
}

.pixelMatrix {
    background-color: white;
    width: 100%;
}

.pixelMatrix.drawing {
    gap: 4px;
    height: 486px;
}

.allColors {
    grid-row: 2;
    display: inline-grid;
    width: 100%;
}

.paletteDisplay {
    display: flex;
    grid-row: 1 / 3;
    grid-column: 2;
}

.active {
    border: 4px solid red;
}

#overview {
    grid-gap: 2px;
    grid-column: 4;
    grid-row: 1 / 3;
}

#overview .pixelMatrix {
    vertical-align: top;
    height: 100%;
}

#overview .active {
    border-width: 1px;
    margin: -1px -1px;
}


#colorIndicator {
    width: 100%;
    height: 100%;
}
